# dot files
.DS_Store
.esm-cache
*.env
.build/
.nyc_output
.tmp/
.vscode

# debug
npm-debug.log*
yarn-error.log*

# folders
test*/
demo*/

# .js files
gulpfile*.js
*.js
*.jsx
*.d.ts*

# Do not ignore
!**/json.d.ts
